/* Content in .courses_container */
.courses_container {
    padding: 20px;
    background-color: #fff;
    color: #121212;
    font-size: 16px;
    margin: 0 100px;
}

/* Courses List Header */
.courses_container h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add Course Button */
.courses_container .btn-success {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 10px;
}

.courses_container .btn-danger {
    background-color: #dc3545;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
}

.courses_container .btn-primary {
    background-color: blue;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
}

/* Table Styles */
.courses_container table {
    width: 100%;
    border: 1px solid #121212;
    background-color: #fff;
    margin: 0;
}

.courses_container table th, .courses_container table td {
    text-align: center;
    border: 1px solid #121212;
    padding: 10px;
}

/* Header Row Styles */
.courses_container table tr:first-child {
    background-color: #343A40;
    color: #fff;
}

/* Search Bar Styles */
.courses_container .input-group {
    margin: 10px 0;
}

.courses_container .form-control {
    font-size: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.courses_container .input-group-append .btn-primary {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0 10px;
    height: 100%;
}

.courses_container .input-group-append .btn-primary:hover {
    background-color: #0056b3;
}
