/* Content in .student_container */
.student_container {
    padding: 20px; /* Add padding to the container */
    background-color: #fff; /* Background color for the container */
    color: #121212; /* Text color */
    font-size: 16px; /* Set font size to 14px */
    margin: 0 100px; /* Add a margin to the left and right of the table */
}

/* Student List Header */
.student_container h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add Student Button */
.student_container .btn-success {
    background-color: #28a745; /* Green background color */
    color: #fff; /* Text color */
    font-weight: bold;
    font-size: 14px; /* Set font size for the button */
    padding: 5px 10px; /* Adjust button padding */
    margin-right: 10px; /* Add spacing between the button and the table */
}

.student_container .btn-danger {
    background-color: #dc3545; /* Red background color for the delete button */
    color: #fff; /* Text color */
    font-weight: bold;
    font-size: 14px; /* Set font size for the button */
    padding: 5px 10px; /* Adjust button padding */
}

.student_container .btn-primary {
    background-color: blue; /* Red background color for the delete button */
    color: #fff; /* Text color */
    font-weight: bold;
    font-size: 14px; /* Set font size for the button */
    padding: 5px 10px; /* Adjust button padding */
}

/* Table Styles */
.student_container table {
    width: 100%;
    border: 3px solid #121212; /* Border around the table */
    background-color: #fff; /* Background color for the table */
    margin: 0; /* Remove any default margins */
}

.student_container table th, .student_container table td {
    text-align: center; /* Center-align table header and cell content */
    border: 2px solid #121212; /* Border around table cells */
    padding: 10px; /* Add padding to table cells */
}

/* Header Row Styles */
.student_container table tr:first-child {
    background-color: #343A40; /* Blue background for the header row */
    color: #fff; /* Text color for header row */
}


/* Search Bar Styles */
.student_container .input-group {
    margin: 10px 0; /* Add spacing above and below the search bar */
}

.student_container .form-control {
    font-size: 16px; /* Set font size for the input field */
    border-top-right-radius: 0; /* Adjust border radius for a more square look */
    border-bottom-right-radius: 0; /* Adjust border radius for a more square look */
}

.student_container .input-group-append .btn-primary {
    background-color: #007BFF; /* Blue background color for the search button */
    color: #fff; /* Text color for the search button */
    border: none; /* Remove the button border */
    padding: 0 10px; /* Adjust button padding */
    height: 100%; /* Set button height equal to the input field */
}

.student_container .input-group-append .btn-primary:hover {
    background-color: #0056b3; /* Darker blue background for the search button on hover */
}

